/.idea/
/CustomSkinLoader/
/natives-windows-x86_64/
/PCL/
/1.20.1.jar
/1.20.1.json
/hmclversion.cfg
/log4j2.xml
/modpack.cfg
/modrinth.index.json
libraries/
saves/
versions/
logs/
crash-reports/
instance.json
PCL/
lightspeed-cache/
options.txt
config/oculus.properties
DLC/tmp/
setup_github_repo.bat
setup_github_repo.ps1
setup_github_repo.state.json
**/__pycache__/
config/dlc_manager/