/.idea/
/crash-reports/
/CustomSkinLoader/
/logs/
/libraries/
/lightspeed-cache/
/data/
/saves/
/natives-windows-x86_64/
/PCL/
/versions/
/config/dlc_manager/
/DLC/tmp/
/DLC/update/

/Fungal-Infection-Blasphemy.jar
/Fungal-Infection-Blasphemy.json
/hmclversion.cfg
/log4j2.xml
/modpack.cfg
/instance.json
/modrinth.index.json
/options.txt
/config/oculus.properties
/setup_github_repo.bat
/setup_github_repo.ps1
/setup_github_repo.state.json
**/__pycache__/
