/.idea/
/.mixin.out/
/.vscode/
/crash-reports/
/config/dlc_manager/
/config/worldedit/
/config/yes_steve_model/cache/
/config/yes_steve_model/builtin/
/CustomSkinLoader/
/fancymenu_data/
/logs/
/libraries/
/lightspeed-cache/
/data/
/saves/
/local/
/xaero/
/XaeroWaypoints_*/
/natives-windows-x86_64/
/PCL/
/versions/
/tacz_backup/
/tlm_custom_pack/
/DLC/tmp/
/DLC/update/

/Fungal-Infection-Blasphemy.jar
/Fungal-Infection-Blasphemy.json
/1.20.1.json
/1.20.1.jar
/hmclversion.cfg
/log4j2.xml
/modpack.cfg
/instance.json
/modrinth.index.json
/patchouli_data.json
/rhino.local.properties
/kubejs/config/probejs.json
/kubejs/jsconfig.json
/usercache.json
/usernamecache.json
/options.txt
/config/oculus.properties
/config/embeddium-fingerprint.json
/setup_github_repo.bat
/setup_github_repo.ps1
/setup_github_repo.state.json

**/__pycache__/
track_large_files_lfs.bat
track_large_files_lfs.ps1
\[FIB\] 菌染亵渎 Fungal Infection Blasphemy.jar
\[FIB\] 菌染亵渎 Fungal Infection Blasphemy.json
Fungal Infection Blasphemy.json
Fungal Infection Blasphemy.jar
/Fungal Infection Blasphemy-natives
config/RuOK.toml
